body {
  background-color: #202020;
  color: white;
  margin: 0;
  overflow: hidden;
  font-family: lato;
}

input {
  display: none;
}

.file-upload {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.buttons {
  text-align: center;
}
